<header>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand"></a>
            <ul class="navbar-menu">
                <li><a href="/">Receipe</a></li>
                <li><a href="/add">Add Item</a></li>
            </ul>
            <button id="dark-mode-toggle" class="btn btn-toggle">🌙</button>
        </div>
    </nav>
</header>